{% load static %}
{% comment %} {% static 'destination/images/image-mars.png' %} {% endcomment %}

<p class="choose"><span>01</span> pick your destination</p>
<div class="grid">
    <img class="planet" src="{% static 'destination/images/' %}{{ image }}" alt="{{ name }}" />
    <div class="main-content">
        <nav class="destinations">
            <a {% if name == 'moon'%}class="active"{% endif %}
            href="{% url 'moon' %}">Moon</a>
            <a {% if name == 'mars'%}class="active"{% endif %}
            href="{% url 'mars' %}">Mars</a>
            <a {% if name == 'europa'%}class="active"{% endif %}
            href="{% url 'europa' %}">Europa</a>
            <a {% if name == 'titan'%}class="active"{% endif %}
            href="{% url 'titan' %}">Titan</a>
        </nav>
        <p class="title">{{ name }}</p>
        <p class="information">{{ description }}</p>
        <div class="facts">
            <div class="fact facts__distance">
                <p class="fact__title">Avg. distance</p>
                <p class="fact__value">{{ distance }}</p>
            </div>
            <div class="fact facts__travel">
                <p class="fact__title">est. travel time</p>
                <p class="fact__value">{{ travel }}</p>
            </div>
            
        </div>

    </div>
</div>
