{% load static %}
{% comment %} {% static 'destination/images/image-mars.png' %} {% endcomment %}

<div class="grid">
    <img src="{% static "destination/images/" %}{{ image }}" alt="Planet" />
    <div class="main__content">
        <nav>
            <a href="{% url 'moon' %}">Moon</a>
            <a href="{% url 'mars' %}">Mars</a>
            <a href="{% url 'europa' %}" class="active">Europa</a>
            <a href="{% url 'titan' %}">Titan</a>
        </nav>
        <p class="title">{{ name }}</p>
        <p class="information">{{ description }}</p>
        <div class="facts">
            <p>Avg. distance</p>
            <p>est. travel time</p>
            <p>{{ distance }}</p>
            <p>{{ travel }}</p>
        </div>

    </div>
</div>
