{% load static %}
{% comment %} {% static 'destination/images/image-mars.png' %} {% endcomment %}

<div class="grid">
    <img class="planet" src="{% static 'destination/images/' %}{{ image }}" alt="{{ name }}" />
    <div class="main-content">
        <nav class="destinations">
            <a {% if name == 'Moon'%}class="active"{% endif %}
            href="{% url 'moon' %}">Moon</a>
            <a {% if name == 'Mars'%}class="active"{% endif %}
            href="{% url 'mars' %}">Mars</a>
            <a {% if name == 'Europa'%}class="active"{% endif %}
            href="{% url 'europa' %}">Europa</a>
            <a {% if name == 'Titan'%}class="active"{% endif %}
            href="{% url 'titan' %}">Titan</a>
        </nav>
        <p class="title">{{ name }}</p>
        <p class="information">{{ description }}</p>
        <div class="facts">
            <p>Avg. distance</p>
            <p>est. travel time</p>
            <p>{{ distance }}</p>
            <p>{{ travel }}</p>
        </div>

    </div>
</div>
