{% load static %}

<div class="crew__grid">
    <div class="crew__col1">
        <h3 class="crew__title"><span class="crew__number">02</span> meet your crew</h3>

        <h2 class="crew__role">{{ role }}</h2>
        <h1 class="crew__member">{{ name }}</h1>
        <p class="crew__main-text">{{ bio }}</p>

        <fieldset class="crew__selector">
            <a href="{% url 'commander' %}"><button></button></a>
            <a href="{% url 'engineer' %}"><button></button></a>
            <a href="{% url 'pilot' %}"><button></button></a>
            <a href="{% url 'specialist' %}"><button></button></a>
        </fieldset>
    </div>
    <div class="crew__col2">
        <img
            class="crew__image"
            src="{% static 'crew/images/' %}{{ image }}"
            alt="Crew member"
        />
    </div>
</div>

 {% comment %} <img src="{% static "destination/images/" %}{{ image }}" alt="Planet" /> {% endcomment %}