
{% load static %}

<header class="header">
    <a href="{% url 'home' %}">
         <img class="header__logo" src="{% static '/images/logo.svg' %}" alt="logo" />
    </a>
    <nav class="header__navigation-bar">
        <ul>
            <li>
                <a class="active" href="{% url 'home' %}">00 Home</a>
            </li>
            <li>
                <a href="{% url 'destination' %}">01 Destination</a>
            </li>
            <li>
                <a href="{% url 'crew' %}">02 Crew</a>
            </li>
            <li>
                <a href="{% url 'technology' %}">03 Technology</a>
            </li>
        </ul>
    </nav>
    <input type="checkbox" class="header__toggle">
    <div class="header__hamburger">
        <div></div>
    </div>
</header>
