{% extends 'base.html' %}
{% load static %}

{% block body_block %}crew{% endblock %}

{% block title_block %}
    Crew - {{ member.role }}
{% endblock %}

{% block styles_block %}
    <link rel="stylesheet" href="{% static 'crew/index.css' %}">
    <link rel="stylesheet" href="{% static 'crew/partials/crew-member.css' %}">
    <link rel="stylesheet" href="{% static 'partials/header.css' %}">
{% endblock %}

{% block content_block %}
    {% include 'partials/header.html' %}
    {% include 'crew/partials/crew-member.html' with role=member.role name=member.name bio=member.bio image=member.image %}
{% endblock %}
