.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 2rem 0 0 2rem;

    &__logo {
        cursor: pointer;
    }

    &__navigation-bar {
        display: flex;
        justify-content: space-around;
        background: rgba(103, 103, 103);
        backdrop-filter: blur(2px);

        width: 50vw;

        margin: 0;
        padding-right: 5rem;
        text-transform: uppercase;

        color: var(--primary-text);

        li {
            padding: 2rem;
        }

        .active {
            border-bottom: 2px solid var(--primary-text);
        }
    }
}
