{% load static %}

<div class="tech__grid">
    <nav class="tech__col1">
        <button
            {% if name == 'launch vehicle' %}
            class="active"
            {% endif %}
        >
            <a href="{% url 'vehicle' %}">
                1
            </a>
        </button>
        <button
            {% if name == 'space capsule' %}
            class="active"
            {% endif %}
        >
            <a href="{% url 'capsule' %}">
                2
            </a>
        </button>
        <button
            {% if name == 'spaceport' %}
            class="active"
            {% endif %}
        >
            <a href="{% url 'spaceport' %}">
                3
            </a>
        </button>
    </nav>
    <div class="tech__col2">
        <p class="tech__terms">the terminology...</p>
        <h2 class="tech__name">{{ name }}</h2>
        <p class="tech__description">{{ description }}</p>
    </div>
    <div class="tech__col3">
        <img src="{% static 'technology/images/' %}{{ image }}" alt="{{ name }}" />
    </div>
</div>
