{% load static %}

<div class="tech__grid">
    <nav class="tech__col1">
        <a href="{% url 'vehicle' %}"
            {% if name == 'launch vehicle' %}
            class="active"
            {% endif %}
        >
            <p>1</p>
        </a>
        <a href="{% url 'capsule' %}"
            {% if name == 'space capsule' %}
            class="active"
            {% endif %}
        >
            <p>2</p>
        </a>
        <a href="{% url 'spaceport' %}"
            {% if name == 'spaceport' %}
            class="active"
            {% endif %}
        >
            <p>3</p>
        </a>
    </nav>
    <div class="tech__col2">
        <p class="tech__terms">the terminology...</p>
        <h2 class="tech__name">{{ name }}</h2>
        <p class="tech__description">{{ description }}</p>
    </div>
    <div class="tech__col3">
        <img src="{% static 'technology/images/' %}{{ image }}" alt="{{ name }}" />
    </div>
</div>
