{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title_block %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static '/base.css' %}" />

        {% block styles_block %} {% endblock %}
    </head>
    <body class="{% block body_block %}{% endblock %}">
        {% block content_block %}{% endblock %}
        {% block script_block %}{% endblock %}
        <script src="{% static 'partials/hamburger.js' %}"></script>
    </body>
</html>
