{% extends 'base.html' %}
{% load static %}

{% block body_block %}destination{% endblock %}

{% block title_block %}
    Destination - {{ destination.name|title }}
{% endblock %}

{% block styles_block %}
    <link rel="stylesheet" href="{% static 'destination/index.css' %}">
    <link rel="stylesheet" href="{% static 'destination/partials/destination.css' %}">
    <link rel="stylesheet" href="{% static 'partials/header.css' %}">
{% endblock %}

{% block content_block %}
    {% include 'partials/header.html' %}
    
    {% include 'destination/partials/destination.html' with name=destination.name image=destination.image description=destination.description distance=destination.distance travel=destination.travel %}
    
    
{% endblock %}
