.home {
	height: 100vh;
	background-image: url('/static/home/images/background-home-desktop.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;

	color: var(--primary-text);
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20vw;
	width: 80%;
	margin: 0 auto;
	margin-top: 10rem;
	max-width: 1000px;
}

.container__main-text,
.container__button {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container__main-text {
	color: var(--secondary-text-color);
	font-size: 1.2rem;
}

.title {
	text-transform: uppercase;
	font-size: 1.6rem;
}

.title span {
	display: block;
	margin-top: 2rem;
	font-family: var(--secondary-font);
	color: var(--primary-text-color);
	font-size: 8rem;
}

.main-text {
	line-height: 1.5;
}

.container__button button {
	--button-dims: 250px;

	border-radius: 50%;
	border: none;
	cursor: pointer;

	width: var(--button-dims);
	height: var(--button-dims);
	font-family: var(--secondary-font);
	font-size: 2rem;
	text-transform: uppercase;
	color: black;
	transition: letter-spacing 0.3s ease-in-out;
}

.container__button button:hover {
	letter-spacing: 0.5rem;
}

/* Tablet media query */
@media screen and (max-width: 1000px) {
	.home {
		background-image: url('/static/home/images/background-home-tablet.jpg');
	}

	.container {
		display: flex;
		flex-direction: column;
		gap: 5rem;
		align-items: center;
	}

	.container__main-text {
		text-align: center;
		padding-inline: 3rem;
	}

	.main-text {
		width: 400px;
	}
}

/* Mobile media query */
@media screen and (max-width: 500px) {
}
